/* shared section styles */
.body{
    font-family: 'Lato', sans-serif;
}

.btn-primary{
    color: #FFF;
    font-size: 20px;
    border-radius: 8px;
    background: #E55473;
    border-style: none;
    padding: 20px 43px;
    margin-top: 0;

}

.heading-primary{
    color: #272727;
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
    padding-top: 100px;
}

.paragraph-primary{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    /* max-width: 600px;
    padding-left: 140px;
    padding-right: 140px; */
}

.highlighted-text{
    color: #E55473;
}
/* banner section styles */

.banner{
    background: rgba(229, 84, 115, 0.10);
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.banner-content{
    align-items: center;
    max-width: 500px;
    padding-right: 97px;

}

.banner-image{
    padding-top: 50px;
    width: 435px;
    height: 600px;
}

.banner-heading{
    color: #272727;
    font-size: 60px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 25px;
}

/* Hot deals section styles */

.deals-content{
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 10px;
}

.deals-img{
    padding: 100px 0 100px 200px;
    width: 318px;
    height: 420px;
}

.hot-deals{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-left: 200px;
    padding-right: 200px;
}

.deals-btn{
    text-align: center;
}

.instagram{
    padding-left: 140px;
    padding-right: 140px;
}

.insta-content{
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 20px;
}
.in-img{
    width: 252px;
    height: 306px;
}

.insta-image{
    display: flex;
    justify-content: space-around;
}
.form-field{
    width: 500px;
    height: 64px;
    background: #FFF;
    border-radius: 8px;
    border-style: none;
}

.latest-deals{
    text-align: center;
    /* background-image: url('./Flower Asset/Rectangle\ 9.png'); */
    border-radius: 8px;
    background: url('./Flower Asset/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    width: 1110px;
    height: 449px;
    margin: 120px auto;
}